<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Ailson Guedes</title>
    </head>
    <body class="page-top">
        <section id="about" class="resume-section">
            <div class="resume-section-content">
                <h1 class="mb-0">Ailson 
                    <span class="text-primary">Guedes</span>
                </h1>
                <div class="subheading mb-5">
                    Salvador · Bahia · Brasil
                </div>
                <h2 class="mainStack">Desenvolvedor Python</h2>
                <p1 class=>
                    Estudante da área de tecnologia, cursando o oitavo período do 
                    curso de Análise e Desenvolvimento de Sistemas EAD, na Universidade Católica de Brasília (EAD) 
                    desde 2021. 
                </p1><br>
                <p2>
                    Nativo do Recôncavo Baiano, nascido e criado na cidade de Maragogipe. 
                    Sou um grande amante da música e da tecnologia.
                </p2> <br><br>
            </div>
        </section>

        <section id="education" class="resume-section">
            <div class="resume-section-content">
                <h2 class="mb-5">Formação</h2>
                <h3>Análise e Desenvolvimento de Sistemas</h3>
                <p>
                    Universidade Católica de Brasília (EAD)
                </p>
            </div>
        </section>
    </body>
</html>

<!-- color palette: https://www.schemecolor.com/python-logo-colors.php#google_vignette -->